
.site-content {
	margin-top: 80px;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}


$primaryGrey: #827c78;

$secondaryGrey: #cfc6be;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
   outline: 0 !important;
}

.hidden-desktop {
	@media only screen and (min-width : 980px) {
		display: none;
	}
}


    form.search-form-drawer {
	    height: 80px;
	    background: #fff;
	    width: 100%;
	    position: fixed;
	    display: flex;
	    z-index: 2;
	    border: 1px solid lighten($primaryGrey, 35%);

	    @media only screen and (max-width : 979px) {
			display: none;
		}

	    .search-submit {
		    width: 80px;
		    height: 80px;
		    border: none;
		    border-radius: 0;
		    background: transparent;

		    svg {
		    	height: 13px;
		    }
	    }

	    input.search-field {
		    width: 100%;
		    height: 100%;
		    border: none;
		    border-radius: 0;
		    font-size: 17px;
    		font-style: italic;

		    &:-webkit-autofill {
			    -webkit-box-shadow: 0 0 0px 1000px white inset;
			}
		}

		.search-close {
			width: 65px;
			height: 80px;
			text-align: center;
			display: flex;
			align-items: center;
			cursor: pointer;

			span {
				width: 100%;
				svg {
					height: 13px;
				}
				
			}
		}
	}

	.search-display {
		visibility: visible;
  		opacity: 1;
  		transition: all 0.3s ease-in-out;


		@media only screen and (max-width : 979px) {
			visibility: hidden;
			opacity: 0;
		}
	}

	.search-hide {
		visibility: hidden;
		opacity: 0;

	}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	padding: 0 25px;
	background-color: #fff;
	height: 80px;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid red;
	.flex-wrapper {
		display: flex;
		height: 100%;
		align-items: center;

		.expand-icon {
			cursor: pointer;
			margin-left: 15px;
			flex: 0 0 auto;
			color: $primaryGrey;
			@media only screen and (min-width : 980px) {
				display: none;
			}

		}

		.flex-item {
			flex: 0 1 380px;
			font-size: 12px;

			ul {
				text-transform: uppercase;
				display: flex;
				align-items: center;

				li {
					flex: 1 1 auto;
					a {
						color: $primaryGrey;
						letter-spacing: 2px;
						display: inline-block;
						position: relative;
						
						.social-icon {
							height: 13px;
						}

						&:after {
							content: '';
							transition: all 0.1s ease-in-out;
							display: block;
							border-bottom: 1px solid transparent;
							width: 100%;
							bottom: -6px;
							position: absolute;
							right: 1px;
						}

						&:hover, &:focus {
							
							&:after {
								content: '';
								display: block;
								transition: all 0.1s ease-in-out;
								border-bottom: 1px solid $primaryGrey;
								width: 100%;
								bottom: -6px;
								position: absolute;
								right: 1px;
							}
						}
					}

					.search-icon {
						cursor: pointer;
						height: 13px;
						svg {
							height: 13px;
						}
						&:after {
							content: none;
						}

						&:hover, &:focus {
							&:after {
								content: none;
							}
						}
					}
				}

				li.current-menu-item {

					a{
						&:after {
							content: '';
							transition: all 0.1s ease-in-out;
							display: block;
							border-bottom: 1px solid $primaryGrey;
							width: 100%;
							bottom: -6px;
							position: absolute;
							right: 1px;
						}						
					}

				}

				li.social {
					display: flex;

					a {
						margin-right: 15px;
						height: 13px;

						svg {
							height: 13px;

							path {
								fill: lighten($primaryGrey, 35%);
								transition: all 0.1s ease-in-out;
							}

							&:after {
								content: none;
							}

							&:hover, &:focus {
								path {
									fill: $primaryGrey;
								}
							}
						}

						&:hover, &:focus {
							&:after {
								content: none;
							}
						}
					}
				}
			}
				

		}

		.flex-logo {
			flex: 1 0 auto;
			text-align: center;
			.header-logo {
				height: 16.5px;
				position: relative;
				svg {
					width: 412px;
					margin: 0 auto;
					@media only screen and (max-width : 979px) {
						width: auto;
						max-width: 412px;

					}
				}
				img {
					width: 412px;
					margin: 0 auto;
					@media only screen and (max-width : 979px) {
						width: auto;
						max-width: 412px;

					}
				}
			}
		}
		

		.right-nav {
			text-align: right;
		}

		@media only screen and (max-width : 979px) {
			.right-nav, .left-nav {
				display: none;
			}
		}
	}	
	

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}















.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;

     

	.closebtn {
	    position: absolute;
	    top: 35px;
	    right: 25px;
	    svg {
	    	width: 20px;
	    }
	}

    .overlay-content {
    	margin: 0;
    	padding: 0;
	    display: flex;
	    flex-direction: column;
   		align-items: center;
    	height: 100%;
    	justify-content: center;
    	li {
    		width: 100%;
    		text-align: center;
    		margin: 7px 0;


    		a {
			    text-decoration: none;
			    font-size: 36px;
			    color: $primaryGrey;
			    position: relative;
			    transition: 0.3s;

			   &:after {
					content: '';
					transition: all 0.1s ease-in-out;
					display: block;
					border-bottom: 1px solid transparent;
					width: 100%;
					bottom: -6px;
					position: absolute;
					right: 1px;
				}
			    
			   &:hover, &:focus {
			    	&:after {
						content: '';
						display: block;
						transition: all 0.1s ease-in-out;
						border-bottom: 1px solid $primaryGrey;
						width: 100%;
						bottom: -6px;
						position: absolute;
						right: 1px;
					}
			    }
			}
    	}
    	li.current-menu-item {

			a{
				&:after {
					content: '';
					transition: all 0.1s ease-in-out;
					display: block;
					border-bottom: 1px solid $primaryGrey;
					width: 100%;
					bottom: -6px;
					position: absolute;
					right: 1px;
				}						
			}

		}
	   
	}
}

.overlay-hide {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.overlay-display {
	visibility: visible;
  	opacity: 1;
  	transition: all 0.3s ease-in-out;
	
	@media only screen and (min-width : 980px) {
		visibility: hidden;
		opacity: 0;
	}

}




// @media screen and (max-height: 450px) {

// }




.site-footer {
	display: flex;
	padding: 25px;
	align-items: flex-end;
	@media only screen and (max-width : 850px) {
		flex-direction: column;
	}

	.flex-item {
		flex: 1 1 33%;
		p {
			margin-bottom: 0;
			font-size: 12px;
			text-transform: uppercase;
			color: $secondaryGrey;

			a {
				text-decoration: none;
				color: $secondaryGrey;

				&:hover, &:focus {
					color: darken($secondaryGrey, 10%);
					transition: all 0.1s ease-in-out;
				}
			}
		}

		@media only screen and (max-width : 850px) {
			order: 2;
			width: 100%;
			text-align: center;
		}
	}

	.foot-center {
		text-align: center;
		@media only screen and (max-width : 850px) {
			order: 1;
			margin-bottom: 30px;
		}
		p {

			font-size: 16px;

			a {
				color: $primaryGrey;
				border-bottom: 1px solid $primaryGrey;
				padding-bottom: 10px;
				&:hover, &:focus {
					color: darken($primaryGrey, 10%);
					transition: all 0.1s ease-in-out;
				}
			}

		}
		.lead {
			font-size: 22px;
			margin-bottom: 15px;

			a {
				border-bottom: none;
			}
		}
	}


	.foot-right {
		text-align: right;
		@media only screen and (max-width : 850px) {
			text-align: center;
			margin-top: 7px;
		}
	}
}
